@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');




*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
background-color: #0d0d0d;
height: 90vh;
font-family: 'Zen Dots', cursive;
}



::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: #151515;
}


::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #404040;
}







/*  navigation bar */

nav{
  display: flex;
  justify-content: center;
}


#nav-container{
  display: flex;
  justify-content: center;
  width: 99.5%;
  margin: 5px 0 20px 5px;
  border-radius: 8px;
  background-color: #151515; /* container black */
  background: linear-gradient(138deg, rgba(48,48,48,1) 0%, rgba(21,21,21,1) 36%);
}

#nav-container a{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #d9d9d9;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 250ms;
  font-size: 13px;
}

.icon-name{
  text-transform: capitalize;
  margin-top: 5px;
}

#nav-container a:hover{
  /* color: #292e49; */
  color: orange;
  border-bottom: orange solid 2px;
}

#nav-container a:active{
  color: orange;
  /* non  funziona */
}

.logo{
  height: 60px;
  margin-right: 10px;
  margin-left: 50px;
}

.logo_heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: orange;
  text-decoration: underline;
}


.about_team{
  display: flex;
  justify-content: space-between;
  margin: 50px 50px 50px 50px;
}

.about_team_heading{
  display: flex;
  flex-direction: column;
  color: #d6d6d6;
  margin: 20px 20px 50px 20px;
}

.about_team_heading h2{
  text-align: left;
  margin-bottom: 15px;
}

.about_team_heading p{
  line-height: 25px;
  text-align: left;
}

.about_team_img{
  height: 500px;
  border-radius: 8px;

}

.link-btn_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.link_to_mail_form{
  margin-top: 10px;
  font-size: 15px;
  font-family: san-serif;
  color: orange;
}

.link-btn_container p{
  margin: 10px 0 10px 0;
  font-size: 15px;
  font-family: cursive;
}

.about_btn{
  cursor: pointer;
  height: 40px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 8px;
  background: transparent;
  border: #d6d6d6 solid 2px;
  color: #d6d6d6;
  transition: 300ms;
  font-size: 1rem;
  font-weight: bold;
}

.about_btn:hover{
  background-color: orange;
  color: #151515;
}

/* //////////////////////////    about me section///////////////////////////// */

.about_me{
  display: flex;
  justify-content: space-between;
  margin: 100px 50px 200px 50px;

}

.about_me_heading{
  display: flex;
  flex-direction: column;
  color: #d6d6d6;
  margin: 20px 20px 50px 20px;
}

.about_me_heading h2{
  text-align: left;
  margin-bottom: 15px;
}

.about_me_heading p{
  line-height: 25px;
  text-align: left;
}

.about_me_img{
  height: 500px;
  border-radius: 8px;

}

.personal_social{
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
  margin: 40px 30px 0 30px;
}

.personal_social a{
  color: darkorange;
  border: 2px solid white;
  padding:  15px;
  border-radius: 5px;
  transition: 300ms;
}

.personal_social a:hover{
  background-color: darkorange;
  color: black;
}

/* /////////////////////////footer//////////////////////// */

.footer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 8px;
  width: 98%;
}

.col_wrap{
  background-color: #d6d6d6;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 30vh;
}

.col_wrap div{
  width: 30%;
  margin: 20px;
  font-size: 13px;
  line-height: 22px;
}

.col_wrap div h4{
  margin-bottom: 20px;
}

.social{
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.social a{
  color: darkorange;
  border: 2px solid white;
  padding:  5px;
  border-radius: 5px;
  transition: 300ms;
}

.social a:hover{
  background-color: darkorange;
  color: black;
}

.social p{
  font-size: 13px;
}


@media screen and (max-width: 768px) {

  #nav-container{
    width: 100% ;
    align-items: center;
    margin: 0px ;
    border-radius: 0px ;
  }

  #nav-container a{
    font-size: 11px ;
  }

  #nav-container a span{
    font-size: 22px;
  }

  .logo{
    height: 50px;
    margin-left: 0px ;
  }


  .logo_heading h5{
    display: none ;
  }

  .about_team{
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
    margin-right: auto;
  }

  .about_team_img{
    height: 220px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .about_me{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .about_me_heading h2, .about_team_heading h2 {
    text-align: center;
  }

  .about_me_heading p, .about_team_heading p{
    margin: 10px 0 10px 0;
    font-size: 15px;
    font-family: cursive;
    text-align: center;
  }

  .about_me_img{
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .about_btn{
    margin: 30px auto 30px auto;
  }

  .personal_social{
    margin: 0;
    margin-top: 35px;
  }

  .footer{
    display: flex;
  }

  .col_wrap{
    display: flex;
    flex-direction: column;
    height: auto !important;
    margin: 0 10px 0 10px;
    border-radius: 5px;
  }

  .col_wrap div{
    width: 80% !important;
  }

  .col_wrap div h4{
     text-align: center;
  }

  .social{
    height: 10vh !important;
    display: flex;
    justify-content: space-evenly;
  }

  .social p{
    display: flex;
    flex-direction:column;
    text-align: center;
    margin: 0 20px 0 20px;
    font-size: 9px;
  }

  .social a{
    margin-left: 15px;
    margin-right: 15px;
  }


}
