@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');





*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
background-color: #0d0d0d;
height: 90vh;
font-family: 'Zen Dots', cursive;
}



::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: #151515;
}


::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #404040;
}







/*  navigation bar */




#nav-container{
  display: flex;
  justify-content: center;
  width: 99.5%;
  margin: 5px 0 20px 5px;
  border-radius: 8px;
  background-color: #151515; /* container black */
  background: linear-gradient(138deg, rgba(48,48,48,1) 0%, rgba(21,21,21,1) 36%);
}

#nav-container a{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #d9d9d9;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 250ms;
  font-size: 13px;
}

.icon-name{
  text-transform: capitalize;
  margin-top: 5px;
}

#nav-container a:hover{
  /* color: #292e49; */
  color: orange;
  border-bottom: orange solid 2px;
}

#nav-container a:active{
  color: orange;
  /* non  funziona */
}

.logo{
  height: 60px;
  margin-right: 10px;
  margin-left: 50px;
}

.logo_heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: orange;
  text-decoration: underline;
}




.main_container_top{
  display: flex;
  justify-content: flex-start;
  width: 99.5%;
}

/* left side */

.left_side_container{
  display: flex;
  justify-content: center;
  width: 20%;
  height: 89vh;
  background-color: #151515;
  background: linear-gradient(138deg, rgba(48,48,48,1) 0%, rgba(21,21,21,1) 36%);
  margin: 15px;
  border-radius: 8px;
  box-shadow: inset 0px -20px 8px 0px #111111;
}

.left_heading{
  color: #d9d9d9; /* bianco opaco p */
  text-align: center;
  margin: 20px 0 50px 0;
  font-size: 1.2rem;
  border-bottom:  #595959 1px solid;
}

.logo_a_classifica, .logo_b_classifica{
  height: 45px;

}

.left_side ul{
  display: flex;
  flex-direction: column;
}

.left_side li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid #595959 2px;
  border-radius: 28px;
  margin-bottom: 30px;
}

.left_side li p{
  color: #d9d9d9;
  padding: 8px;
  margin: 0 25px 0 25px;
  font-size: 13px;
}

/*  central img */

.central_container{
  width: 50%;
  height: auto;
  margin: 15px;
}

.central_banner{
  width: auto;
  display: flex;
  justify-content: center;
  background-color: #151515;
  background: linear-gradient(138deg, rgba(48,48,48,1) 0%, rgba(21,21,21,1) 36%);
  border-radius: 8px;
  background-image: url(../../assets/img/banner_central_big.png);
  background-size: cover;
  background-position: center !important;
  height: 200px;
}

/

/* central risultati */




.central_match_diplay h3{
  margin-bottom: 50px;
  margin-top: 15px;
  border-bottom:  #595959 1px solid;
  color: #d6d6d6;
  text-align: center;
}

.central_match_diplay span p{
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 10px 0 30px 0;
  color: #d9d9d9;
  font-size: 15px;
}

.central_match_diplay{
  width: auto;
  background-color: #151515;
  color: #d6d6d6;
  height: 59vh;
  border-radius: 8px;
  margin-top: 15px;
  text-align: center;
  overflow-y: scroll;
  box-shadow: inset 0px -20px 8px 0px #111111;
  background: linear-gradient(138deg, rgba(48,48,48,1) 0%, rgba(21,21,21,1) 36%) !important;
}


.game_line{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo_a, .logo_b{
  height: 70px;
  display: flex;
  margin-top: -17px;
}

/*   right side */
.right_side_container{
  width: 30%;
  height: 89vh;
  margin: 15px;
  background-color: #151515;
  background: linear-gradient(138deg, rgba(48,48,48,1) 0%, rgba(21,21,21,1) 36%);
  border-radius: 8px;
  color: #d9d9d9;
  overflow-y: scroll;
  box-shadow: inset 0px -20px 8px 0px #111111;
}

.right_heading{
  color: #d9d9d9; /* bianco opaco p */
  text-align: center;
  margin: 20px 0 50px 0;
  font-size: 1.2rem;
  border-bottom:  #595959 1px solid;
  padding-bottom: 5px;
}


.right_side_container li{
  border: solid #595959 2px;
  border-radius: 28px;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #d9d9d9;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  padding: 8px;
  font-size: 15px;
  text-transform: capitalize;
  align-items: center;
}

.right_side_container .score{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.ball_icon{
  color: #999;
  margin-left: 15px;
}

.player{
  transition: 300ms;
}
.player:hover{
  color: orange;
  cursor: pointer;
}

.score{
  margin-left: 30px;
}

/* --------------footer---------------- */
.footer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 8px;
  width: 98%;
}

.col_wrap{
  background-color: #d6d6d6;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 30vh;
}

.col_wrap div{
  width: 30%;
  margin: 20px;
  font-size: 13px;
  line-height: 22px;
}

.col_wrap div h4{
  margin-bottom: 20px;
}

.social{
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.social a{
  color: darkorange;
  border: 2px solid white;
  padding:  5px;
  border-radius: 5px;
  transition: 300ms;
}

.social a:hover{
  background-color: darkorange;
  color: black;
}

.social p{
  font-size: 13px;
}


.cardsContainer{
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  top: 10%;
  right: 38.5%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 500px;
  height: 650px;
  display: none;
}

.card{
  background-image: url(../../assets/img/cards/gold-card.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 500px; */
  height: 650px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.closeBtn{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: orange solid 3px;
  color: orange;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  border-radius: 8px;
  top: 0;
  right: 0;

}

.cardHeading{
  color: black;
  font-size: 1.3rem;
  text-align: center;
}

.cardImg{
  height: 375px;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  /* margin-right: 150px; */
}

.visible{
  display: block;
}

.hide{
  display: none;
}






/* //////////////////////////////      media querys///////// */



@media screen and (max-width: 768px) {

  #nav-container{
    width: 100% ;
    align-items: center;
    margin: 0px ;
    border-radius: 0px ;
  }

  #nav-container a{
    font-size: 11px ;
  }

  #nav-container a span{
    font-size: 22px;
  }

  .logo{
    height: 50px;
    margin-left: 0px ;
  }


  .logo_heading h5{
    display: none ;
  }

  .main_container_top{
    display: flex;
    flex-direction: column-reverse;
    width: 100% ;
    align-items: center;
    margin: 0px ;

  }

  .central_container{
    height: auto;
    width: 100% ;
    align-items: center;
    margin: 0px ;
  }

  .central_banner{
    width: 100%;
    background-image: url(../../assets/img/banner_central.png) ;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .central_match_diplay{
    color: #d6d6d6;
    margin-top: 25px ;
    overflow-x: hidden;
  }

  .central_match_diplay h3{
    margin: 10px 5px 25px 5px ;
    border-bottom:  #595959 1px solid;
  }

  .central_match_diplay p{
    font-size: 13px ;
  }
 .central_match_diplay p:nth-child(2){
   margin-left: -20px;
 }

 .central_match_diplay p:nth-child(3){
   color: darkorange;
 }

.central_match_diplay p:nth-child(4){
margin-right:  -20px;
}

.logo_a{
  margin-left: -20px;
}
.logo_b{
  margin-right: -20px;
}


.cardsContainer{
  width: 300px  ;
  height: 400px ;
  position: absolute;
  top: 5px;
  left: 5px;
}

.card{
  background-image: url(../../assets/img/cards/gold-card.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* width: 500px; */
  height: 650px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.card img{
  height: 270px;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  margin-left: -30px ;
}

.cardHeading{
  color: black;
  font-size: 1rem ;
  text-align: center;
}





  .left_side_container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto ;
    background-color: #151515;
    background: linear-gradient(138deg, rgba(48,48,48,1) 0%, rgba(21,21,21,1) 36%);
    margin: 15px;
    border-radius: 8px;
    box-shadow: inset 0px -20px 8px 0px #111111;
  }

  .right_side_container{
    width: 100% ;
  }

  .footer{
    display: flex;

  }

  .col_wrap{
    display: flex;
    flex-direction: column;
    height: auto ;
    margin: 0 10px 0 10px;
    border-radius: 5px;
  }

  .col_wrap div{
    width: 80% ;
  }

  .col_wrap div h4{
     text-align: center;
  }

  .social{
    height: 10vh ;
    display: flex;
    justify-content: space-evenly;
  }

  .social p{
    display: flex;
    flex-direction:column;
    text-align: center;
    margin: 0 20px 0 20px;
    font-size: 9px;
  }

  .social a{
    margin-left: 15px;
    margin-right: 15px;
  }



}
